@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #8847fd;
  --color-secondary: #eaf1fd;
  --color-dark: #00102a;
  --color-light: #f4fbff;
  --rounded-primary: 0.3rem;
  --padding-primary: 0.4rem 0.5rem;
  --padding-secondary: 0.8rem 1.2rem;
  --trans-primary: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

.show {
  display: block !important;
}

/* main_nav */

.main_nav {
  height: 50px;
  background-color: var(--color-primary);
}

.main_nav .container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main_nav .logo .img {
  width: 8.5rem;
  margin-bottom: 3px;
}

.main_nav .logo img {
  max-width: 100%;
}

/* side bar  */

.main {
  display: flex;
  gap: 20px;
}

.side-bar {
  background-color: var(--color-primary);
  padding: var(--padding-primary);
  width: 200px;
}

.side-bar .pages nav,
.side-bar .pages .tasks-page {
  padding: var(--padding-primary);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-bar .pages .tasks-page a {
  color: var(--color-light);
}

.main-content {
  margin: 0 auto;
  flex: 1;
}

.main-content header {
  margin: 20px 0;
}

.main-content header .page-title {
  font-weight: bold;
  font-size: 18px;
  color: var(--color-dark);
  padding: var(--padding-secondary);
  letter-spacing: 3.2px;
}

.main-content header .page-desc {
  font-weight: 600;
  font-size: 14px;
  color: #444;
  margin: 0 30px 0;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

.main-content .container {
  position: relative;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card_ {
  background-color: var(--color-secondary);
  position: relative;
  width: 300px;
  height: 320px;
  overflow: hidden;
  padding-bottom: 20px;
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.header_card {
  text-align: center;
}

.header_card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 15px 15px;
  color: var(--color-light);
  background-color: var(--color-primary);
}

.header_card .content .title {
  margin: 0;
}

.header_card .content li {
  width: 25px;
  height: 25px;
  font-size: 16px;
  background-color: var(--color-light);
  border-radius: var(--rounded-primary);
}

.header_card .content .num-of-tasks {
  background-color: var(--color-dark);
}

.header_card .content .num-of-tasks span {
  color: var(--color-light);
  padding: 1.3px 8px;
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.header_card .add-task-btn {
  width: 25px;
  height: 25px;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.settings_btn {
  padding: 0 8px;
  background-color: transparent;
}

.header_card .card_settings {
  position: relative;
}

.header_card .settings {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 0;
  background-color: var(--color-dark);
  padding: 10px 15px !important;
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
  opacity: 0;
  z-index: -10;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.settings_btn:focus + .settings {
  opacity: 1;
  z-index: 99;
}

.header_card .settings .setting {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
}

.setting button {
  font-size: 13px !important;
  width: 100%;
}

.body-tasks {
  padding: 0 20px;
  margin-top: 20px;
  max-height: 245px;
  overflow: auto;
}

.body-tasks::-webkit-scrollbar {
  width: 5px;
 
}

.body-tasks::-webkit-scrollbar-track {
  background-color: var(--color-light);
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.body-tasks::-webkit-scrollbar-thumb  {
  background-color: var(--color-primary);
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.body-tasks .tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body-tasks .add-task-btn {
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 3px solid var(--color-dark);
  width: 100%;
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
  padding: var(--padding-primary);
  margin: 15px 0;
}

.body-tasks .tasks .task {
  position: relative;
  padding: var(--padding-primary);
  background-color: #fff;
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
  overflow: hidden;
}

.body-tasks .tasks .task:last-of-type {
  margin-bottom: 30px;
}

.body-tasks .tasks .task .task-content {
  padding: var(--padding-primary);
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
  transition: var(--trans-primary);
  -webkit-transition: var(--trans-primary);
  -moz-transition: var(--trans-primary);
  -ms-transition: var(--trans-primary);
  -o-transition: var(--trans-primary);
}

.body-tasks .tasks .task:hover .task-content {
  scale: 0.8;
  translate: -1.8rem;
}

.body-tasks .tasks .task::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--trans-primary);
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
  -webkit-transition: var(--trans-primary);
  -moz-transition: var(--trans-primary);
  -ms-transition: var(--trans-primary);
  -o-transition: var(--trans-primary);
}

.body-tasks .tasks .task:hover::before {
  opacity: 0.1;
}

.body-tasks .tasks .task .task-btns {
  position: absolute;
  top: 6px;
  right: -100px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: var(--trans-primary);
  -webkit-transition: var(--trans-primary);
  -moz-transition: var(--trans-primary);
  -ms-transition: var(--trans-primary);
  -o-transition: var(--trans-primary);
}

.body-tasks .tasks .task:hover .task-btns {
  right: 15px;
  opacity: 1;
}

.body-tasks .tasks .task .task-btns > button {
  background-color: var(--color-primary);
  color: var(--color-light);
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.body-tasks .tasks .task .task-btns svg {
  font-size: 12px !important;
}

.new-task,
.review-task {
  background-color: var(--color-light);
  padding: var(--padding-secondary);
  border-radius: var(--rounded-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: fit-content;
  z-index: 9999;
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.new-task .content,
.review-task .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-task .content input,
.review-task .content input {
  padding: var(--padding-primary);
  outline: none;
  border: 0;
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.new-task .content textarea,
.review-task .content textarea {
  padding: var(--padding-primary);
  border-radius: var(--rounded-primary);
  outline: none;
  border: 0;
  resize: vertical;
  min-height: 50px;
  height: 70px;
  max-height: 130px;
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--rounded-primary);
  -o-border-radius: var(--rounded-primary);
}

.new-task .date,
.review-task .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem !important;
}

.new-task .date .start_date_box,
.new-task .date .end_date_box,
.review-task .date .start_date_box,
.review-task .date .end_date_box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.6rem !important;
}

.new-task .create-task,
.review-task .save-changes {
  background-color: var(--color-secondary);
  color: #fff;
  padding: var(--padding-primary);
  border-radius: var(--rounded-primary);
  -webkit-border-radius: var(--rounded-primary);
  -moz-border-radius: var(--rounded-primary);
  -ms-border-radius: var(--roundedprimary);
  -o-border-radius: var(--rounded-primary);
}
[contenteditable] {
  outline: none;
}
